<!-- HEADER -->
<div class="container" style="min-height: 100%;">
  <div class="nav-bar-container" fxLayout.gt-xs fxLayoutAlign.gt-xs="space-between center" fxLayout.xs="column">
    <div fxHide.gt-xs fxShow.xs fxFlexAlign.xs><mat-icon (click)="dropDownMenu()">menu</mat-icon></div>
      <div class="nav-bar-menu-entries-m" fxShow.xs fxHide.gt-xs [hidden]="!drop_down">
        <div class="menu-entry-m" mat-button><a (click)="dropDownMenu()" [routerLink]="['/home']" class="mat-focus-indicator mat-button mat-button-base">HOME</a></div>
        <div class="menu-entry-m seperator sperator-m"></div>
        <div class="menu-entry-m"><a (click)="dropDownMenu()" [routerLink]="['/student']" class="mat-focus-indicator mat-button mat-button-base">STUDENT</a></div>
      </div>
      <div class="nav-bar-menu-entries" fxLayoutAlign.gt-xs fxshow.gt-xs fxHide.xs>
        <div class="menu-entry"><a [routerLink]="['/']" class="mat-focus-indicator mat-button mat-button-base">HOME</a></div>
        <div class="menu-entry seperator sperator"></div>
        <div class="menu-entry"><a [routerLink]="['/student']" class="mat-focus-indicator mat-button mat-button-base">STUDENT</a></div>
      </div>
  </div>
  <!-- BODY-COMPONENTS CONTAINER -->
  <router-outlet>
    <div style="margin: 16px;"></div>
  </router-outlet>
</div>
<!-- FOOTER -->
<div class="footer-container" fxLayout fxLayoutAlign="center center">
  <div><a href="https://github.com/Natlen" target="blank"><img src="../assets/images/github_icon.png" style="padding-top: 4px;"></a></div>
  <div><a href="https://linkedin.com/in/nat-len" target="blank"><img src="../assets/images/linkedin_icon.png"></a></div>
  <div><a href="mailto:nativlengel11@gmail.com"><img src="../assets/images/email_icon.png" style="padding-top: 8px;"></a></div>
  <div><a href="https://discord.gg/Jkn2e4mBzD" target="blank"><img src="../assets/images/discord_icon.png" style="padding-top: 8px;"></a></div>

</div>
