a{
    text-decoration: none;
    color: #FEFEFE;
}
.nav-bar-container{
    background-color: #2C2F33;
    color: #FEFEFE;
    padding: 8px 4px;
}
.nav-bar-menu-entries-m{
    text-align: center;
    margin-top: 8px;
    margin-left: 32%;
    margin-right: 32%;
}
.menu-entry-m{
    margin-left: 8px;
    margin-right: 4px;
    margin-top: 1px;
    margin-bottom: 16px;
}
.seperator-m{
    background: linear-gradient(to right, #6600cc 0%, #00ffff 100%);
}
.nav-bar-menu-entries{
    text-align: center;
    margin-top: 16px;
}
.menu-entry{
    margin-left: 8px;
    margin-right: 4px;
    margin-top: 1px;
    margin-bottom: 16px;
}

.seperator{
    padding: 1px;
    background: linear-gradient(to top, #6600cc 0%, #00ffff 100%);
}
.footer-container{
    position: relative;
    bottom: 0;
    background-color: #2C2F33;
    color: #FEFEFE;
}
.footer-container > a > img {
    width: 26px;
    height: 26px;
    margin: 4px 16px 4px 16px;
}